li {
  list-style: none;
}

/*
 * ヘッダー
 */

.Header {
  height: 72px;
  width: 100%;
  display: flex;
  background-color: rgba(255,255,255,0.95);
  border-bottom: solid 1px #E2E8F0;

  &__Left {
    width: 120px;
    margin: 0 12px;
    padding: 16px 0;
    display: flex;
  }

  &__Logo--Image {
    width: 40px;
    height: 40px;
  }

  &__Logo--Name {
    padding-left: 8px;
    font-size: 30px;
  }

  &__Menu {
    width: 480px;
    margin-left: 36px;
    display: flex;
    text-decoration: none;

    li {
      padding: 30px 8px;
    }
  }

  &__Right {
    width: 100px;
    margin-left: auto;
    margin-right: 20px;
    padding: 16px 0;
    display: flex;
  }

  &__Icon--Avatar {
    width: 40px;
    height: 40px;
    margin-left: 4px;
    border: 1px solid #E2E8F0;
    border-radius: 50%;
  }

  &__Icon--Bell {
    padding: 4px 8px;
    border: 1px solid #E2E8F0;
    border-radius: 50%;
  }
}

/*
 * ダッシュボード
 */

.Dashboard {
  margin: 20px 40px;
  display: flex;

  &__Board {
    width: 33%;
    border: #1a202c 1px solid;

    &--StockAmount {

    }
    &--ShareholdersAmount {

    }
    &--StockPrice {

    }
    &--StockShare {

    }
    &--MainShareholders {

    }
    &--ShareholdersTransition {

    }
  }
}