@charset "UTF-8";
li {
  list-style: none; }

/*
 * ヘッダー
 */
.Header {
  height: 72px;
  width: 100%;
  display: flex;
  background-color: #EDF2F7;
  border-bottom: solid 1px #E2E8F0; }
  .Header__Left {
    width: 120px;
    margin: 0 12px;
    padding: 16px 0;
    display: flex; }
  .Header__Logo--Image {
    width: 40px;
    height: 40px; }
  .Header__Logo--Name {
    padding-left: 8px;
    font-size: 30px; }
  .Header__Menu {
    width: 480px;
    margin-left: 36px;
    display: flex;
    text-decoration: none; }
    .Header__Menu li {
      padding: 32px 8px; }
  .Header__Right {
    width: 100px;
    margin-left: auto;
    margin-right: 20px;
    padding: 16px 0;
    display: flex; }
  .Header__Icon--Avatar {
    width: 40px;
    height: 40px;
    margin-left: 4px;
    border: 1px solid #E2E8F0;
    border-radius: 50%; }
  .Header__Icon--Bell {
    padding: 4px 8px;
    border: 1px solid #E2E8F0;
    border-radius: 50%; }

/*
 * Main
 */
.Main {
  margin: 10px 12px; }

/*
 * ダッシュボード
 */
.Dashboard {
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 12px; }
  .Dashboard__Row {
    display: flex;
    justify-content: center; }
  .Dashboard__Board, .Dashboard__Board--StockAmount, .Dashboard__Board--ShareholdersAmount, .Dashboard__Board--StockPrice, .Dashboard__Board--StockShare, .Dashboard__Board--MainShareholders, .Dashboard__Board--ShareholdersTransition {
    width: 16rem;
    min-width: 16rem;
    height: 12rem;
    max-height: 12rem;
    margin: 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 4px; }
    .Dashboard__Board--StockAmount {
      font-size: 32px;
      background-color: #23c6f8; }
    .Dashboard__Board--ShareholdersAmount {
      font-size: 32px;
      background-color: #70eeba; }
    .Dashboard__Board--StockPrice {
      font-size: 32px;
      background-color: #6f69e7; }
    .Dashboard__Board--MainShareholders {
      flex-direction: column;
      font-size: 16px;
      background-color: #fa4563; }
    .Dashboard__Board--MainShareholders span {
      float: right; }

/*
 * Shareholders
 */
.Shareholders {
  margin: 80px 0; }
  .Shareholders__Table {
    width: 72%;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #F7FAFC;
    border: 1px solid #CBD5E0; }
  .Shareholders__Heading {
    border: 1px solid #CBD5E0; }
    .Shareholders__Heading-Icon {
      width: 50px;
      padding-left: 16px; }
    .Shareholders__Heading-Name {
      width: 200px;
      text-align: center; }
    .Shareholders__Heading-StockAmount {
      width: 120px;
      text-align: right; }
    .Shareholders__Heading-StockShare {
      width: 100px;
      padding-right: 28px;
      text-align: right; }
  .Shareholders__Icon {
    padding-left: 16px;
    text-align: center; }
  .Shareholders__StockAmount {
    text-align: right; }
  .Shareholders__StockShare {
    padding-right: 16px;
    text-align: right; }

/*
 * footer
 */
.footer {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #E2E8F0; }
  .footer__logo {
    padding-left: 24px;
    font-size: 32px;
    line-height: 80px; }
  .footer__list {
    width: 100%;
    padding-top: 4px;
    padding-right: 32px;
    text-align: right; }

/*# sourceMappingURL=main.css.map */
