.Main {
}

.ChatRoom {
    display: flex;
    width: 440px;
    height: 80px;
    margin: 10px 0px;
    border: #1a202c 1px solid;
}

.ChatRoom--Img {
    width: 80px;
    display: flex;
    justify-content: center;
    border-radius: .50rem;
}

.ChatRoom--Containts {
    display: flex;
    padding: 12px 0;
}

.ChatRoom--Containts_Left {
    width: 280px;
    font-size: 12px;
}

.ChatRoom--Containts_RoomName {}

.ChatRoom--Containts_Description {
    color: gray;
}

.ChatRoom--Containts_Right {
    width: 80px;
    padding-right: 8px;
    font-size: 12px;
}

.ChatRoom--Containts_Time {
    color: gray;
    text-align: right;
}

.ChatRoom--Containts_Badge {
    width: 26px;
    margin-left: auto;
    color: #FFFFFF;
    text-align: center;
    background-color: limegreen;
    border-radius: .75rem;
}