.Main {
}

.ChatRoom {
    display: flex;
    width: 440px;
    height: 80px;
    margin: 4px 0;
}

.ChatRoom__Left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChatRoom__Image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.ChatRoom__Center {
    width: 280px;
    padding: 8px;
    font-size: 12px;
}

.ChatRoom__RoomName {
}

.ChatRoom__Description {
    color: #B8C2CC;
}

.ChatRoom__Right {
    width: 100px;
    padding: 8px;
    font-size: 12px;
}

.ChatRoom__Time {
    color: #B8C2CC;
    text-align: right;
}

.ChatRoom__Badge {
    width: 26px;
    margin-left: auto;
    color: #FFFFFF;
    text-align: center;
    background-color: #1dcd00;
    border-radius: .75rem;
}