.Input {
  width: 360px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;

  &__Field {
    width: 85%;
    margin-left: 8px;
    padding-left: 8px;
    background-color: #F7FAFC;
    border: 1px solid #EDF2F7;
    border-radius: .9999rem;

    &:focus {
      outline: 0;
    }
  }

  &__Icon {
    margin-left: 8px;

    &--Mic {
      color: #718096;
    }

    &--Send {
      color: #3490DC;
    }
  }
}