.Message {
    width: 360px;
    display: flex;

    /* これはMessageList or Roomに入れる */
    background-color: #BCDEFA;
}

.Message__Left {

}

.Message__Img {

}

.Message__Center {

}

.Message__UserName {

}

.Message__Message {

}

.Message__Right {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
}

.Message__Time {
}
