.Message {
  width: 360px;
  display: flex;

  /* これはMessageList or Roomに入れる */
  background-color: #BCDEFA;
}

.Message__Left {
  padding: 8px 4px;
  display: flex;
  align-items: flex-start;
}

.Message__Image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.Message__Center {
  width: 280px;
  padding-left: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
}

.Message__UserName {
  padding-top: 4px;
  font-size: 12px;
  color: #FFFFFF;
}

.Message__Body {
  margin-left: 4px;
  padding: 4px 8px 4px 12px;
  background-color: #F8FAFC;
  border-radius: .9999rem;
  position: relative;
}

.Message__Body:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #F8FAFC;
  transform: rotate(35deg);
}

.Message__Right {
  margin-left: auto;
  padding-right: 4px;
  display: flex;
  align-items: flex-end;
  font-size: 12px;
}

.Message__Time {
  padding-bottom: 4px;
  color: #FFFFFF;
}
